exception_strategy/target/classes/mulepayload.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="mulepayloadFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" allowedMethods="POST" doc:name="HTTP"/>
        <logger message="username = #[payload.username] and password = #[payload.password]" level="INFO" doc:name="Logger"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload doc:name="Set Payload"/>
            <logger message="exception occured here #['\n'] + exception" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
    <flow name="mulepayloadFlow1">
        <set-payload doc:name="Set Payload"/>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy when="#[exception.causeMatches]" doc:name="No flights DW exception">
                <set-payload doc:name="Set Payload"/>
                <set-property propertyName="http.status" value="500" doc:name="Property"/>
            </catch-exception-strategy>
            <catch-exception-strategy doc:name="data unabailable all other exceptions">
                <set-payload doc:name="Set Payload"/>
                <set-property propertyName="http.status" value="500" doc:name="Property"/>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
</mule>
