votingeligibility/target/classes/votingeligibility.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="votingeligibilityFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/voting/{age}" allowedMethods="GET" doc:name="HTTP"/>
        <logger message="before filter message" level="INFO" doc:name="Logger"/>
        <message-filter throwOnUnaccepted="true" doc:name="Message">
            <expression-filter expression="#[message.inboundProperties.'http.uri.params'.age&gt;18]"/>
        </message-filter>
        <logger message="filtered message" level="INFO" doc:name="Logger"/>
    </flow>
    <catch-exception-strategy name="votingeligibilityCatch_Exception_Strategy">
        <set-payload value="exception occured" doc:name="Set Payload"/>
    </catch-exception-strategy>
</mule>
